%article
  %p.fecha{:class => "c#{Time.at(post.pubdate).day}#{Time.at(post.pubdate).day}" }
    = I18n.localize(Time.at(post.pubdate), :format => '%A, %d de %B de %Y' )
  %p
    = link_to post.title[0..115], post.link, :target => 'blank'
