.contenedor
  #enviar
    %h2 Enviar blog a UbuntuFeed
    - if flash[:notice]
      %p Tu blog se ha recibido con éxito. Pronto será añadido al feed.
    - else
      = form_for @blog, :url => enviar_go_path do |f|
        =form_error @blog, :title
        =f.label :title, 'Título del blog'
        =f.text_field :title
        %br
        =form_error @blog, :url
        =f.label :url, 'URL del sitio'
        =f.text_field :url, :placeholder => 'http://'
        %br
        =form_error @blog, :feed_url
        =f.label :feed_url, 'Feed del sitio (RSS, Feedburner, Atom)'
        =f.text_field :feed_url, :placeholder => 'http://'
        %br
        =f.submit 'Enviar blog'
