%meta{ :content => "0; url=#{@post.link}", "HTTP-EQUIV" => "refresh"}
%meta{ :content => @post.title, :property => "og:title"}
%meta{ :content => "http://ubuntufeed.co/logo.png", :property => "og:image"}
%meta{ :content => @post.description, :property => "og:description"}
%meta{ :content => @post.description, :name => "description" }
%meta{ :content => "http://ubuntufeed.co", :property => 'og:url' }
