//= require normalize
//= require_self
//= require_tree .
@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,700');

::selection {
  background: #FF8A4B; /* Safari */
  color: #FFF;
  }
::-moz-selection {
  background: #FF8A4B; /* Firefox */
  color: #FFF;
}

body {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAMAAACeL25MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////zsrFFOhhzwAAAA9JREFUeNpiYGTAAAABBgAAJwAC/BnsgQAAAABJRU5ErkJggg==');
  font-family: 'Ubuntu';
  color: #333;
}
a {
  color: #EF5A29;
}
.contenedor {
  width: 100%;
  max-width: 960px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.ubuntu_grandient {
  background: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAABGCAYAAAAJvS5gAAAAo0lEQVR42mN4H6X5H4YZPua6ITgwxqeqcAgHxADLwBiUKasMgyqrDMGirCIYqqw8CKqsLBCLsrIACOdjqT/UCyW+mMo+FvtAlRV6QZUVeGJRlu8OVQYNB4aPOc5YlGU7QjgfMh0gMh8y7DCVfUi3gSpLtYYqS7HAoizZHKosyRSqLNEEi7IEQygn3gAqE6ePqex9rB6UE6MLlYnWwaJslDMYOQDe5QgFkg8abgAAAABJRU5ErkJggg==');
  -webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.75);
}

header {
  @extend .ubuntu_grandient;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 2;
  padding-left: 15px;
  h1 {
    float: left;
    line-height: 50px;
    font-size: 1.5em;
    a {
      color: white;
      text-decoration: none;
    }
  }
  .logo {
    float: left;
    background: image-url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAADP0lEQVR42oWVX0hTcRTHZz2kPVgUFNVDREo9ZPUmRVD0UJmZ5r8e0gIjreglSMUgstDUILQyC4wsITKyCFKMiswSrcgMyizbdjfnptvuNpp32727d/t2ftdpbjr9wdnc73fO53f+/Y4aTcQym82LZVneFwgE7pNwwWBQJFFIJEVRbPT9mvZLJUnaBGCBZq5FCotIMsjgBRl6SBBFPEyHLjjEbGaFORyOeFKqJOWx4MSaFSa7eHgG+6AIf4OkbyW5QtD4MBjHcbEUZiUdCnN4pYr58jHoD28E//g6FMkHZhOCxk7ljLke8kw1IgUofgmSfRTWxosYOZ+rivPlQxhP74L2wGqM3SiG4hmfvMhKjEyCxmhEUUwJ5Sw4CZP4UbjamuB61QJd1nrojyRNSP5m2O5egrmiAJ4fn1TdEDBIwHYCLtNQqM3TCyB7BNjuVUCXuQ58Sy3c3W0Q+johfOkE31oP49lUGE/thL25mnSnPGRwLzm3R0N/GKfnyGcYhC4nEYbjyRCHh6Z7gQClwacbgKEgmXQS4OMGwwsmy9c0rL8CsgyfSQvhey/4pw2Uo1VwtN4igH9GUdgeO9PuXwnbnQuR590MqIgWDqaSDGhTSelBFUzFByF8fRe10t7f/RitKQLfXBN+WSBgYiH7RbOeIOnQpqyAlQFL0gnYFR04xIAnZwCpMCMa+rArsh9ewy+M978H/6RebQvns9sIyLOETHsOOmMhWxvKIoE9DPg27HY9FSU7AYbC7VSUPzOLwlFRTmxTdby6n5Eh17L3W8ZK/r9txmFrLIcuYy3sLXVw93RA+PYBQn+X6vXwuTQYi3bA3lQZ1jYkXqryXgZMYk0Z1th2C5zPG+F6Q42dnQju6FZw+VvA5U00tqWqEJ6Bz5GN3eF2u5cz4EL6kUWHtrCnJ0kQbSaM3SzFcHGa6pmzvRnGM7uhTVsDa33p1NMjfTsxctSnFxpbcbRZPc/ImhgO5XnQ524A/6gWiuhTRxmFepUxImfhEoLWhDyNOr78Tis89ADkcRcbX7YQbGm0ARtLrmezfLAkz+Gpl2AdNLVzTCZT3HxTO4ZNDVYxkjoy7qULLARg8pHtsX8RTGcqZ9PWPwFF8p1O4u+2AAAAAElFTkSuQmCC');
    background-size: 100%;
    width: 15px;
    height: 15px; 
    margin: 17px 5px 0 0;
  }
  .feed {
    width: 15px;
    height: 15px;
    background: image-url('rss.png');
    background-size: 100%;
    display: inline-block;
  }
}
section {
  padding-top: 50px;
  &.populares {
    h2 {
      background: white;
      padding: 5px;
      padding-left: 15px;
      font-size: 1em;
    }
  }
}
.shadow {
  -webkit-box-shadow: 0px 0px 5px black;
  -moz-box-shadow:    0px 0px 5px black;
  box-shadow:         0px 0px 5px black;
}
article {
  position: relative;
  background: #232323;

  padding: 3px 0 3px 0;
  &:nth-last-child(even) {
    background: #333;
  }
  &:hover a.link {
    padding-left: 20px;
  }
  p {
    overflow: hidden;
    a.link {
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      white-space: nowrap;
      width: 680px;
      color: white;
      text-decoration: none;
      display: inline-block;
      height: 100%;
      padding: 15px;
      -webkit-transition: all 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
         -moz-transition: all 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
          -ms-transition: all 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
           -o-transition: all 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
              transition: all 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
      &:visited {
        color: gray;
      }
    }
  }
}
nav {
  ul {
    list-style: none;
    float: right;
    padding-right: 30px;
    li {
      display: inline-block;
      font-size: 1.8em;
      z-index: 2;
      color: white;
      padding: 5px 0 10px 30px;
      a {
        color: white;
        text-decoration: none;
      }
      .prev {

      }
      .next {

      }
    }
  }
}
#about {
  padding: 65px 25px 25px 25px;
  height: 100%;
  background: white;
  h1, h2 {
    color: #EF5A29;
  }
  p {
    margin-bottom: 10px;
  }
  h2 {
    margin-top: 25px;
  }
  ul {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
#enviar {
  padding: 65px 25px 25px 25px;
  height: 100%;
  background: white;
  h2 {
    color: #EF5A29;
    margin-bottom: 15px;
  }
  label {
    display: block;
  }
  input {
    margin-bottom: 15px;
    width: 300px;
    border: 1px solid #f2f2f2;
    padding: 7px;
  }
  input[type=submit] {
    width: 150px;
    padding: 10px;
    background: #EF5A29;
    font-weight: bold;
    color: white;
  }
}
.error {
  color: red;
}
.fecha {
  color: #2C001E;
  height: 25px;
  line-height: 25px;
  padding-left: 15px;
  background: white;
  margin-top: -3px;
  font-weight: bold;
}

.load_more{
  @extend .ubuntu_grandient;
  width: 100%;
  height: 50px;
  text-align: center;
  a {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3em;
    color: #FFFFFF;
    line-height: 50px;
    width: 100%;
    height: 100%;
    display: block;
  }
  .loading {
    background: image-url('loading.gif');
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-top: 10px;
  }
}
#admin {
  padding: 65px 25px 25px 25px;
  height: 100%;
  background: white;
  ul {
    list-style: none;
    li {
      padding: 5px;
      margin-bottom: 10px;
      word-wrap: break-word;
      p {
        &.title {
          font-weight: bold;
        }
        &.accion {
          float: right;
          a {
            color: black;
          }
        }
      }
    }
  }
  .notice {
    font-size: 1.5em;
    display: block;
    background: yellow;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
  }
  .update {
    height: auto;
    text-align: right;
    a {
      background: #EF5A29;
      color: white;
      text-decoration: none;
      font-weight: bold;
      padding: 10px;
      display: inline-block;
      height: 19px;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
ul.share {
  list-style: none;
  width: auto;
  text-align: center;
  position: absolute;
  right: 10px;
  z-index: 1;
  display: none;
  margin-top: 10px;
  li {
    display: inline-block;
    background: #EF5A29;
    padding: 5px;
    a {
      color: #FFF;
      font-weight: bold;
      text-decoration: none;
    }
    &:hover {
      background: #FF7A3F;
    }
  }
}
.social {
  position: absolute;
  right: 0;
  display: none;
  line-height: 50px;
  margin-right: 10px;
  color: #FF7A3F;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.blog {
  color: orange;
  display: none;
  color: #EF5A29;
  width: 135px;
  overflow: hidden;
  display: inline-block;
  padding-left: 15px;
}
.menu {
  width: 145px;
  position: absolute;
  color: #FFF;
  background:#FF773D;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: -87px;
  margin-top: 15px;
  z-index: 3;
  padding: 5px;
  display: none;
}
.menu:after {
  content:"";
  position:absolute;
  border-style:solid;
  border-color:#FF773D transparent;
  display:block; 
  width:0;
  top:-15px;
  right: 45px;
  bottom:auto;
  border-width:0 15px 15px;
}
.menu ul {
    list-style: none;
}
.menu ul li {
    font-size: 0.6em;
    display: block;
    margin: 0;
    padding: 3px;
    a:hover {
      text-decoration: underline;
    }
}
.donativo {
  input[type=submit] {
    border: none;
    font-weight: bold;
    font-size: 0.7em;
    color: white;
    height: 30px;
    width: 60px;
    background-color: transparent;
  }
}

@media screen and (max-device-width: 480px) {
  nav ul li {
    font-size: 1.5em;
    padding: 10px 20px 0 0;
    &.paginate {
      display: none;
    }
  }
  header h1 {
    font-size: 1.5em;
  }
  #enviar {
    input {
      width: 100%;
    }
  }
  .update {
    height: auto !important;
    a {
      float: none !important;
      z-index: 1;
      margin: 0 !important;
      margin-bottom: 10px !important;
      display: block !important;
    }
  }
  .feed {
    display: none !important;
  }
  .blog {
    display: none !important;
  }
  .menu:after {
    right: 45px;
  }
  a.link {
    text-overflow: clip !important;
    -o-text-overflow: clip !important;
    white-space: normal !important;
    width: auto !important;
    word-wrap:break-word !important;
  }
  aside {
    display: none !important;
  }
  .donativo {
    display: none !important;
  }
}
