//= require normalize
//= require_self
//= require_tree .
@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,700');

body {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAMAAACeL25MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////zsrFFOhhzwAAAA9JREFUeNpiYGTAAAABBgAAJwAC/BnsgQAAAABJRU5ErkJggg==');
  font-family: 'Ubuntu';
}
.contenedor {
  width: 960px;
  height: auto;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 72px;
  background: image-url('bg.png');
  -webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.75);
  h1 {
    line-height: 72px;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
article {
  background: #333333;
  height: 50px;
  position: relative;
  &:nth-child(even) {
    background: #AEA79F;
  }
  p {
    width: 100%;
    height: 100%;
    line-height: 50px;
    padding-left: 15px;
    a {
      color: white;
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
